@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.font-sfpro {
  font-family: "SF Pro Display", sans-serif;
}
.font-poppins {
  font-family: "Poppins", sans-serif;
}

.caption {
  display: none;
  position: absolute;
  z-index: 3;
  bottom: 8px;
  height: 75px;
  width: 91.7%;
  left: 8px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* @media (min-width: 1536px) {
  .caption {
    width: 16.8rem !important;
  }
}
@media only screen and (max-width: 768px) {
  .caption {
    width: 11.1rem !important;
  }
} */

.gradient-bg {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(219, 115, 76, 0) 2.13%,
    rgba(219, 115, 76, 0.52) 38.3%,
    #db734c 100%
  );
  opacity: 0.9;
}

.caption-text {
  position: relative;
  z-index: 3;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 12px;
}
.slick-slide.slick-current {
  transform: scale(1.1); /* Make the current slide slightly bigger */
  opacity: 1; /* Make the current slide fully visible */
}

/* Styles for other slides */
.slick-slide {
  transition: transform 0.3s, opacity 0.3s; /* Add smooth transition effect */
  transform: scale(0.9); /* Dim other slides by scaling them down */
  opacity: 0.5; /* Dim other slides by reducing opacity */
}

.slick-slide:hover {
  cursor: pointer; /* Add cursor pointer on hover */
}

.slick-list {
  padding: 15px 50px !important;
}

.slick-track {
  left: -35px !important;
}

.slick-dots li button:before {
  font-size: 10px !important;
}

.slick-dots li {
  margin: -3px !important;
}
.slick-dots {
  bottom: -15px;
}
.slick-dots li button {
  color: #9b9b9b;
  opacity: 0.3;
}

.slick-dots li.slick-active button:before {
  color: #000;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: #000;
  opacity: 1;
}
.ReactModal__Overlay {
  background-color: rgb(0 0 0 / 75%) !important;
}
.ReactModal__Content {
  width: 456px;
  border: 0 !important;
  border-radius: 32px !important;
  padding: 3rem 3rem !important;
  display: block;
  margin: auto;
  height: max-content;
}
.slick-current .caption {
  display: block;
}
